cryptography==38.0.4
digitalhub==0.14.0


# -------------------------------------------
# Core Scientific Libraries
# -------------------------------------------
numpy==1.26.4
scipy==1.13.1
#pandas==2.2.3
#GDAL == 3.11.0

# -------------------------------------------
# Raster and Vector Geospatial Processing
# -------------------------------------------
rasterio==1.4.3
geopandas==1.0.1
shapely==2.0.7
fiona==1.10.1
pyproj==3.6.1
pyshp==2.3.1
pyogrio==0.11.0
spatialist==0.15.2

# -------------------------------------------
# SNAP / Sentinel-1/2 Processing (ESA Toolbox)
# -------------------------------------------
# snapista==0.2.0
# -------------------------------------------
# File & Format Utilities
# -------------------------------------------
Pillow==11.2.1

# -------------------------------------------
# Geometry and WKT Handling
# -------------------------------------------
pygeoif==0.7
shapely==2.0.7  # Already listed above

# -------------------------------------------
# Skimage & Scikit tools
# -------------------------------------------
#scikit-image  # Required for skimage.morphology
#scikit-learn  # Optional but often useful

# -------------------------------------------
# Others (used or imported)
# -------------------------------------------
python-dateutil==2.9.0.post0
requests==2.32.3
tqdm==4.65.0
pathos==0.3.4
psutil==5.9.0
multiprocess==0.70.18
setuptools==80.1.0
wheel==0.45.1